.env
keys/
data/
airflow/logs/
dbt_stocks/target/
dbt_stocks/dbt_packages/
dbt_stocks/logs/
dbt_stocks/.user.yml
dbt_stocks/dbt.log
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate*
__pycache__/
*.pyc
.venv/
.vscode/
.idea/
.DS_Store
